.container-top {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-top {
    width: 79%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-header .menu-escritorio {
    display: none;
}

.container-header a {
    width: 30%;
    display: flex;
    justify-content: center;
    font-family: Libre Franklin,sans-serif
}

.burger {
    width: 42%;
    margin-left: 5px;
}

.menu {
    flex-direction: column;
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    background-color: white;
}

.menu a { 
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    color: #333;
}

.open-menu,
.close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

.Close-menú {
    align-self: flex-start;
    position: relative;
    top: 19px;
    left: 6px;
    width: 22%;
}

.menu_opened {
    height: 940px;
    opacity: 1;
    pointer-events: all;
}
    
.info-bae {
    width: 95%;
    text-align: center;
}

.busq {
    width: 25%;
    float: right;
}

main {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
section {
    width: 79%;
    height: 1225px;
    display: flex;
    flex-direction: column;
}

.noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dolar {
    width: 100%;
    display: flex;
    background-color: #fef4e8; 
}

.dolar-1 {
    width: 49%;
    height: 53px;
    border: 2px solid #e9eae0;
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dolar-1 a {
    text-decoration: none;
    font-size: 17px;
    color: inherit;
}

.dolar-1 h1 {
    font-size: 20px;
}

.container-infobae {
    display: none;
}

.noticias-1 a {
    height: 470px;
    padding: 2px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Libre Franklin,sans-serif;
    border-bottom: 1px solid lightgray;
    color: #333;
}

.noticia-one {
    border-radius: 15px;
}

.noticias-1 a h1 {
    font-size: 20px;
    font-weight: 700;
}

.noticias-1 p {
    line-height: 1.5;
}

.noticias-2 {
    padding: 2px;
}

.noticias-3 a {
    padding: 9px 0;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Libre Franklin,sans-serif;
    border-bottom: 1px solid lightgray;
}

.noticias-3 a h1 {
    font-size: 20px;
    font-weight: 700;
    color: #1f1f1f;
    
}

.noticia-two {
    margin-top: 10px;
    border-radius: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #f7f8f9;
}
.footer-one {
    width: 79%;
    height: px;
    display: flex;
    flex-direction: column;
}

.footer-one .footer-two {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.redes-top {
    display: none;
}

.img-footer {
    width: 30%;
}

.footer-three {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    font-family: Libre Franklin,sans-serif
}

.footer-three div {
    width: 45%;
    height: 300px;
    margin: 2px;
}

.list-one {
    padding: 3px 0;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.list-one ul li {
    margin-top: 8px;
    margin-bottom: 22px;
}

.infobae-footer {
    font-size: 15px;
    font-weight: 600;
}

.footer-three div ul li a {
    text-decoration: none;
    font-size: 15px;
    color: inherit;
}

.ul-one {
    height: 36%;
    padding: 1px 10px;
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.ul-two {
    height: 63%;
    padding: 1px 11px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.footer-four {
    padding: 10px 0;
}

.footer-four h3 {
    font-size: 14px;
}

.footer-four .terminos {
    height: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.footer-four a {
    font-size: 14px;
    color: inherit;
    font-family: Libre Franklin,sans-serif
}

.redes-footer {
    display: flex;
    justify-content: center;
}

.redes {
    height: 40px;
    margin-right: 8px;
    background-color: #f7f8f9;
}

@media screen and (min-width: 586px) {
    .img-top {
        width: 75%;
    }
    
    header {
        height: 37px;
    }

    .container-header {
        width: 87%;
    }

    .container-header a {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .menu {
        top: 5px;
    }

    .open-menu, .close-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
    }

    .Close-menú {
        top: 16px;
        left: 77px;
        width: 7%;
    }

    .burger {
        width: 52%;
    }

    .busq {
        width: 85%;
        height: 29px;
        margin-top: 4px;
        margin-right: 50px;
    }
    
    .info-bae {
        width: 24%;
    }
    
    main {
        width: 100%;
        height: 757px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
    
    section {
        width: 75%;
        display: flex;
        align-items: center;
    }
    
    section div {
        width: 60%;
        height: auto;
    }

    .container-dolar {
        width: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
    }

    .container-noticias {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .noticias-1 a {
        height: 561px;
        padding: 0 2px;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Libre Franklin,sans-serif;
        border-bottom: 1px solid lightgray;
    }

    .noticias-1 a h1 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 21px;
        color: #1f1f1f;
    }

    .noticia-one {
        width: 100%;
        margin-bottom: 9px;
    }

    .noticias-2 {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noticias-3 {
        width: 90%;
    }

    .noticias-3 a {
        height: 261px;
        padding: 9px 0;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Libre Franklin,sans-serif;
        border-bottom: 1px solid lightgray;
    }

    .noticias-3 a h1 {
        margin-top: 11px;
        font-size: 17px;
        font-weight: 700;
        color: #1f1f1f;
    }

    .noticia-two{
        height: 121px;
    }
    
    .footer-one {
        width: 75%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-one .footer-two {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    .footer-two a {
        display: flex;
    }

    .img-footer {
        width: 42%;
    }

    .footer-two .redes-top {
        width: 35%;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .redes {
        width: 25px;
    }
    
    .footer-three {
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .footer-three div {
        width: 196px;
    }

    .ul-one {
        height: 36%;
        padding: 1px 10px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        border: 1px solid lightgray;
        border-radius: 20px;
    }

    .ul-two {
        height: 63%;
        padding: 1px 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        border: 1px solid lightgray;
        border-radius: 20px;
    }

    .redes-footer {
        display: none;
    }

}

@media screen and (min-width: 790px) {
    .container-top {
        height: 114px;
    }

    .img-top {
        width: 75%;
    }

    header {
        height: 50px;
        display: flex;
        justify-content: center;
    } 

    .container-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 75%;
    }

    .info-bae {
        display: none;
    }

    .burger {
        width: 40px;
    }

    .busq {
        width: 40px;
        height: 29px;
        margin-top: 0;
        margin-bottom: 4px;
    }

    .container-header ul {
        width: 91%;
        height: 1000px;
        display: flex;
        justify-content: space-around;
    }

    .container-header li a {
        text-decoration: none;
        font-family: Raleway,sans-serif;
        font-weight: 700;
        color: #333;
    }

    .Close-menú {
        top: 77px;
        left: 178px;
        width: 4%;
    }

    .container-header .menu-escritorio {
        height: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    main {
        height: 935px;
    }

    section {
        height: 935px;
    }

    .container-dolar {
        height: 244px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .noticias {
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .dolar-1 {
        width: 50%;
    }

    .container-infobae {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .publicidades {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-around;
    }

    .logo-advertising {
        width: 180px;
        height: 75px;
    }

    .logo-advert {
        width: 180px;
        height: 75px;
    }

    .logo-info {
        width: 262px;
        height: 70px;
    }

    .list-section {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
    }

    .list-infobae {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }

    .list-info a {
        font-size: 14px;
        font-weight: 700;
        font-family: Raleway,sans-serif;
        text-decoration: none;
        color: inherit;
    }

    .container-fecha {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fecha {
        width: 34%;
        height: 1px;
        background-color: black;
    }

    .dia {
        font-size: 13px;
        font-style: italic;
        color: #666;
    }

    .container-bae {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #333;
        margin-bottom: 20px;
    }

    .menu-info {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .menu-bae a {
        font-family: Raleway,sans-serif;
        text-decoration: none;
        color: inherit;
    }

    .noticias-1 a {
        height: 673px;
    }

    .noticias-1 a h1 {
        font-size: 35px;
    }

    .noticias-1 a p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .noticia-one {
        width: 100%;
        height: 300px;
    }

    .noticias-3 a {
        height: 317px;
        padding: none;
    }

    .noticias-3 a h1 {
        font-size: 17px;
    }

    .noticia-two {
        height: 200px;
    }

    .footer-one .footer-two {
        justify-content: flex-start;
    }

    .footer-two .redes-top {
        width: 45%;
    }

    .redes {
        width: 9%;
    }
}