
.container-top {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-top {
    width: 79%;
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.container-header {
    width: 79%;
    display: flex;
    justify-content: space-between;
}

.burger {
    width: 6%;
    }
    
.info-bae {
    width: 20%;
}

main {
    width: 100%;
    height: 650px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
section {
    width: 79%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

section div { 
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    background-color: fuchsia;
}

footer {
width: 100%;
display: flex;
justify-content: center;
background-color: #f7f8f9;
}
.footer-one {
    width: 79%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .footer-one div {
    width: 100%;
    height: 70px;
}

.footer-three {
    flex-grow: 1;
    background-color: lightslategrey;
}

@media screen and (min-width: 380px) {
    header {
        height: 45%;
    }

    .container-header {
        width: 76%;
    }
    
    .img-top {
        width: 75%;
    }
    
    .burger {
        width: 6%;
    }
    
    .info-bae {
        width: 20%;
    }
    
    main {
        width: 100%;
        height: 500px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
    
    section {
        width: 75%;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    
    section div {
        width: 60%;
        height: 500px;
        background-color: grey;
    }
    .noticias-2 {
            width: 40%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    }
    .noticias-4 {
        width: 100%;
        height: 200px;
    }
    
    section .noticias-3 {
        display: none;
    }
    
    .footer-one {
        width: 75%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    footer .footer-one div {
        width: 100%;
        height: 50px;
    }
    
    .footer-three {
        flex-grow: 1;
        background-color: lightslategrey;
    }
}

@media screen and (min-width: 770px) {
    .container-top {
        height: 80px;
    }

    .img-top {
        width: 75%;
    }

    header {
        height: 50px;
        display: flex;
        justify-content: center;
    } 

    .container-header {
        display: flex;
        justify-content: flex-start;
        width: 75%;
    }

    .info-bae {
        display: none;
    }

    .burger {
        width: 45px;
    }
}